// json('../../config/color.json')

default_font_family = s(' "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif ')

// ----------------------------------------
// media query
// ----------------------------------------
sp = '(min-width: 320px) and (max-width: 480px)'

// ----------------------------------------
// constants
// ----------------------------------------
// headerHeight = 80px
// footerHeight = 56px
// statusbarHeight = 24px
material-easing = cubic-bezier(0.23, 1, 0.32, 1)
